<%-include("partials/header.ejs")%>
<div class="ui main text container segment">
    <h1 class="ui huge header">Sorry the given User doesn't Exist <i class="frown outline icon"></i></h1>
</div>


<%-include("partials/footer.ejs")%>